.sidebar{
    position : fixed;
    background-color: white;
    left : 0px;
    bottom: 0px;
    top : 50px;
    width : 80px;
    z-index: 12;
    padding-top: 5px;
    cursor: pointer;
}

.sidebar-link{
    height : 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4px;
}

.sidebar-link:hover{
    background-color: lightgray;
}

.sidebar-link img {
    height : 26px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: 400;
}