.thumbnail{
    width : 300px;
}

.thumbnail-row{
    position : relative;
    width : 300px;

}
.channel-picture{
    display: inline-block;
}
.profile-picture{
    width : 40px;
    border-radius: 20px;
}

.video-title{
    font-weight: 700;
}

.video-author{
    font-weight: 396;
}

.video-stats{
    font-weight: 400;
}

.video-preview{
    display : inline-block;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.video-info{
    display: inline-block;
    width: 200px;
}

.channel-info{
    display: inline-block;
    height : 200px;
}

.video-time{
    position: absolute;
    background-color: black;
    color: aliceblue;
    right: 8px;
    bottom : 10px;
    font-family: Roboto, Arial;
    font-weight: 400;
    padding: 3px;
    border-radius: 2px;
}