.thumbnail{
    width : 300px;
}
.channel-picture{
    border-radius: 40px;
    display: inline-block;
}

.video-preview{
    display : inline-block;
}

.video-info{
    display: inline-block;
}

.channel{
    display: inline-block;
}